html,
body {
  height: 100%;
  width: 100%;
}
.button {
  /* padding: 20px; */
}
.row {
  /* margin: 8px 0; */
}

.input-box {
  height: 50px;
  width: 20rem;
  padding: 5px 5px 5px 5px;
  border: 1.5px solid black;
  margin: 0 !important;
}
